<html>

<head>
    <title>Control Robot</title>
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>

<body>
  <input type="button" value="Forward" id="forward">
  <input type="button" value="Backward" id="backward">
  <input type="button" value="Left" id="left">
  <input type="button" value="Right" id="right">
  <input type="button" value="Up" id="up">
  <input type="button" value="Down" id="down">
</body>

</html>
